In [27]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

sc = StandardScaler()

In [28]:
df_data = pd.read_csv('train.csv')

In [29]:
df_data

        N    P    K  temperature   humidity        ph    rainfall        label
0      22   36   16    30.581395  50.771481  8.184229   64.585596    mothbeans
1      18   27   41    22.365094  92.308824  7.175344  104.821633  pomegranate
2      61   68   50    35.214628  91.497251  6.793245  243.074507       papaya
3      26   72   22    28.767949  37.577921  4.674942   91.720849   pigeonpeas
4       2  140  197    22.697801  92.822234  5.534567  105.050823        apple
...   ...  ...  ...          ...        ...       ...         ...          ...
1645   10    5    5    21.213070  91.353492  7.817846  112.983436       orange
1646  108   94   47    27.359116  84.546250  6.387431   90.812505       banana
1647   11   36   31    27.920633  51.779659  6.475449  100.258567        mango
1648   11  124  204    13.429886  80.066340  6.361141   71.400430       grapes
1649   32   78   22    23.970814  62.355576  7.007038   53.409060       lentil

[1650 rows x 8 columns]

In [30]:
X = df_data.drop('label',axis = 1)
Y = df_data['label']

In [31]:
classle = LabelEncoder()

Y = classle.fit_transform(df_data['label'].values)
print('labels : ',np.unique(Y))

labels :  [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21]

In [57]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.1,random_state=0,stratify=Y)

In [58]:
knn = KNeighborsClassifier(n_neighbors=5,p = 2)
knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [59]:
Y_train_pred = knn.predict(X_train)
Y_test_pred = knn.predict(X_test)

accuracy_score(Y_test, Y_test_pred)

0.9878787878787879

In [60]:
submit_data = pd.read_csv('test.csv')
submit_data

       N    P    K  temperature   humidity        ph    rainfall
0    101   17   47    29.494014  94.729813  6.185053   26.308209
1     98    8   51    26.179346  86.522581  6.259336   49.430510
2     59   62   49    43.360515  93.351916  6.941497  114.778071
3     44   60   55    34.280461  90.555616  6.825371   98.540477
4     30  137  200    22.914300  90.704756  5.603413  118.604465
..   ...  ...  ...          ...        ...       ...         ...
545  100   32   26    25.234661  57.531615  6.043486  124.226174
546   50   46   52    31.182984  90.216469  6.734006   54.018724
547   30   65   82    20.714244  15.278241  7.103798   76.778887
548   93   26   27    24.592457  56.468296  7.288212  137.704405
549   63   47   35    26.985822  89.055879  7.432768  193.877871

[550 rows x 7 columns]

In [61]:
submit_y = knn.predict(submit_data)
submit_y

array([15, 21, 17, 17,  0, 12,  0, 13, 14, 10,  2,  4, 19,  8,  4, 19,  0,
        6, 17, 15,  5, 17, 16, 17,  3,  8, 14, 16, 18,  8, 19, 13,  8, 10,
        8,  2,  8,  3,  3,  9, 17, 12,  2, 11, 14, 11, 18,  4, 15, 11,  2,
        5,  7, 14,  5,  9,  6,  0,  1,  2, 21,  4, 10, 16, 17,  2, 16, 20,
       15, 18, 15,  4,  8,  1,  2, 17,  1,  6, 21, 16,  5,  3,  8, 13, 16,
       12,  5, 13,  2, 19, 11, 13,  6, 17, 18, 13,  9,  5,  2, 10,  4,  8,
       16, 15, 21,  9, 21,  1, 18, 13,  1,  8,  6, 19, 18,  3, 11,  4, 19,
       20, 18,  7,  2,  4,  3,  2,  4, 11,  1, 13,  1,  9, 19,  3,  4, 16,
       18,  1,  1,  0,  9, 15, 14, 13,  4, 11,  0,  4,  9, 13, 14, 10, 21,
       14, 18,  2, 18,  9, 11,  8,  3,  0, 16,  6, 20,  4,  7, 10, 21,  7,
        7,  2, 19,  3,  4, 11, 10,  7, 21,  8,  5,  5,  9,  8, 13,  9,  1,
        9,  4, 17, 17, 14, 12, 19, 21,  9, 11,  0,  2,  3,  7,  7,  1,  6,
       20, 19, 14,  1,  8, 14, 11,  3,  3,  3,  0, 20,  9, 17,  5,  2,  9,
       12, 12,  4, 17,  0,  3, 19,  3, 15,  0, 15, 15, 12, 12,  6,  4, 19,
       20, 15,  5, 17, 10, 11, 12, 15, 18, 14,  5,  7,  4,  6, 18, 20,  0,
       19,  5,  3,  6,  8, 12,  1, 17,  0,  3,  8, 18, 13, 14,  8, 19,  7,
       13,  8, 11,  4, 11,  3,  1,  8,  4,  8, 12, 15,  0,  1, 18,  2, 16,
        3, 21,  1,  0,  3,  5, 18, 16,  0,  4, 17, 21, 13, 17,  3, 19,  3,
       17, 10,  0, 19,  3, 12,  3, 19, 21,  9, 14, 15, 21,  9, 15, 12,  8,
        2,  3,  1,  2, 18, 17,  9, 14,  4,  6,  7,  0, 10,  1,  8,  0, 19,
        0, 14, 15,  5,  8, 18,  8,  9,  1, 11,  8, 11, 18, 12,  9, 19, 21,
        2, 11, 20, 13,  9, 12,  6, 17, 13,  6, 14, 16, 20,  2, 14,  5,  1,
       18, 17,  0, 19, 11, 12,  4,  0, 10,  8, 13, 10,  4,  2,  8, 14,  6,
       21,  0,  7,  4,  7, 21, 20, 12, 12,  5, 19,  1,  7,  8, 16,  6, 12,
       17, 15, 13,  8,  3, 13, 19, 21, 13,  6, 17, 21, 10, 20,  4, 13, 13,
       11, 20, 11,  4, 16, 19,  9, 21, 14,  2, 20, 20,  6,  6, 18, 16,  2,
       10,  1, 12, 11,  0, 19, 12,  6, 14, 18,  3,  0,  5, 18,  8,  8,  8,
       17, 10,  7,  8, 16, 14, 12,  9,  7, 14, 16, 18,  1,  8, 18, 19,  5,
       15,  2, 17, 17, 19,  9,  3, 14, 14, 12, 18, 15, 12, 13, 18, 15, 20,
       19, 15, 18,  0, 14, 20,  9,  0, 20, 12, 17, 13,  6, 19, 18, 17, 10,
       11,  3, 15,  6,  9,  3, 14,  5,  5, 16, 21, 16,  7,  5, 18, 12,  0,
       12, 19,  5, 18,  5,  7,  6, 19, 17,  0,  2, 18, 21, 17,  2,  7, 10,
        8,  5, 17,  3,  5,  8])

In [62]:
yo =classle.inverse_transform(submit_y)

In [63]:
yo

array(['muskmelon', 'watermelon', 'papaya', 'papaya', 'apple', 'mango',
       'apple', 'mothbeans', 'mungbean', 'lentil', 'blackgram', 'coconut',
       'pomegranate', 'jute', 'coconut', 'pomegranate', 'apple', 'cotton',
       'papaya', 'muskmelon', 'coffee', 'papaya', 'orange', 'papaya',
       'chickpea', 'jute', 'mungbean', 'orange', 'pigeonpeas', 'jute',
       'pomegranate', 'mothbeans', 'jute', 'lentil', 'jute', 'blackgram',
       'jute', 'chickpea', 'chickpea', 'kidneybeans', 'papaya', 'mango',
       'blackgram', 'maize', 'mungbean', 'maize', 'pigeonpeas', 'coconut',
       'muskmelon', 'maize', 'blackgram', 'coffee', 'grapes', 'mungbean',
       'coffee', 'kidneybeans', 'cotton', 'apple', 'banana', 'blackgram',
       'watermelon', 'coconut', 'lentil', 'orange', 'papaya', 'blackgram',
       'orange', 'rice', 'muskmelon', 'pigeonpeas', 'muskmelon',
       'coconut', 'jute', 'banana', 'blackgram', 'papaya', 'banana',
       'cotton', 'watermelon', 'orange', 'coffee', 'chickpea', 'jute',
       'mothbeans', 'orange', 'mango', 'coffee', 'mothbeans', 'blackgram',
       'pomegranate', 'maize', 'mothbeans', 'cotton', 'papaya',
       'pigeonpeas', 'mothbeans', 'kidneybeans', 'coffee', 'blackgram',
       'lentil', 'coconut', 'jute', 'orange', 'muskmelon', 'watermelon',
       'kidneybeans', 'watermelon', 'banana', 'pigeonpeas', 'mothbeans',
       'banana', 'jute', 'cotton', 'pomegranate', 'pigeonpeas',
       'chickpea', 'maize', 'coconut', 'pomegranate', 'rice',
       'pigeonpeas', 'grapes', 'blackgram', 'coconut', 'chickpea',
       'blackgram', 'coconut', 'maize', 'banana', 'mothbeans', 'banana',
       'kidneybeans', 'pomegranate', 'chickpea', 'coconut', 'orange',
       'pigeonpeas', 'banana', 'banana', 'apple', 'kidneybeans',
       'muskmelon', 'mungbean', 'mothbeans', 'coconut', 'maize', 'apple',
       'coconut', 'kidneybeans', 'mothbeans', 'mungbean', 'lentil',
       'watermelon', 'mungbean', 'pigeonpeas', 'blackgram', 'pigeonpeas',
       'kidneybeans', 'maize', 'jute', 'chickpea', 'apple', 'orange',
       'cotton', 'rice', 'coconut', 'grapes', 'lentil', 'watermelon',
       'grapes', 'grapes', 'blackgram', 'pomegranate', 'chickpea',
       'coconut', 'maize', 'lentil', 'grapes', 'watermelon', 'jute',
       'coffee', 'coffee', 'kidneybeans', 'jute', 'mothbeans',
       'kidneybeans', 'banana', 'kidneybeans', 'coconut', 'papaya',
       'papaya', 'mungbean', 'mango', 'pomegranate', 'watermelon',
       'kidneybeans', 'maize', 'apple', 'blackgram', 'chickpea', 'grapes',
       'grapes', 'banana', 'cotton', 'rice', 'pomegranate', 'mungbean',
       'banana', 'jute', 'mungbean', 'maize', 'chickpea', 'chickpea',
       'chickpea', 'apple', 'rice', 'kidneybeans', 'papaya', 'coffee',
       'blackgram', 'kidneybeans', 'mango', 'mango', 'coconut', 'papaya',
       'apple', 'chickpea', 'pomegranate', 'chickpea', 'muskmelon',
       'apple', 'muskmelon', 'muskmelon', 'mango', 'mango', 'cotton',
       'coconut', 'pomegranate', 'rice', 'muskmelon', 'coffee', 'papaya',
       'lentil', 'maize', 'mango', 'muskmelon', 'pigeonpeas', 'mungbean',
       'coffee', 'grapes', 'coconut', 'cotton', 'pigeonpeas', 'rice',
       'apple', 'pomegranate', 'coffee', 'chickpea', 'cotton', 'jute',
       'mango', 'banana', 'papaya', 'apple', 'chickpea', 'jute',
       'pigeonpeas', 'mothbeans', 'mungbean', 'jute', 'pomegranate',
       'grapes', 'mothbeans', 'jute', 'maize', 'coconut', 'maize',
       'chickpea', 'banana', 'jute', 'coconut', 'jute', 'mango',
       'muskmelon', 'apple', 'banana', 'pigeonpeas', 'blackgram',
       'orange', 'chickpea', 'watermelon', 'banana', 'apple', 'chickpea',
       'coffee', 'pigeonpeas', 'orange', 'apple', 'coconut', 'papaya',
       'watermelon', 'mothbeans', 'papaya', 'chickpea', 'pomegranate',
       'chickpea', 'papaya', 'lentil', 'apple', 'pomegranate', 'chickpea',
       'mango', 'chickpea', 'pomegranate', 'watermelon', 'kidneybeans',
       'mungbean', 'muskmelon', 'watermelon', 'kidneybeans', 'muskmelon',
       'mango', 'jute', 'blackgram', 'chickpea', 'banana', 'blackgram',
       'pigeonpeas', 'papaya', 'kidneybeans', 'mungbean', 'coconut',
       'cotton', 'grapes', 'apple', 'lentil', 'banana', 'jute', 'apple',
       'pomegranate', 'apple', 'mungbean', 'muskmelon', 'coffee', 'jute',
       'pigeonpeas', 'jute', 'kidneybeans', 'banana', 'maize', 'jute',
       'maize', 'pigeonpeas', 'mango', 'kidneybeans', 'pomegranate',
       'watermelon', 'blackgram', 'maize', 'rice', 'mothbeans',
       'kidneybeans', 'mango', 'cotton', 'papaya', 'mothbeans', 'cotton',
       'mungbean', 'orange', 'rice', 'blackgram', 'mungbean', 'coffee',
       'banana', 'pigeonpeas', 'papaya', 'apple', 'pomegranate', 'maize',
       'mango', 'coconut', 'apple', 'lentil', 'jute', 'mothbeans',
       'lentil', 'coconut', 'blackgram', 'jute', 'mungbean', 'cotton',
       'watermelon', 'apple', 'grapes', 'coconut', 'grapes', 'watermelon',
       'rice', 'mango', 'mango', 'coffee', 'pomegranate', 'banana',
       'grapes', 'jute', 'orange', 'cotton', 'mango', 'papaya',
       'muskmelon', 'mothbeans', 'jute', 'chickpea', 'mothbeans',
       'pomegranate', 'watermelon', 'mothbeans', 'cotton', 'papaya',
       'watermelon', 'lentil', 'rice', 'coconut', 'mothbeans',
       'mothbeans', 'maize', 'rice', 'maize', 'coconut', 'orange',
       'pomegranate', 'kidneybeans', 'watermelon', 'mungbean',
       'blackgram', 'rice', 'rice', 'cotton', 'cotton', 'pigeonpeas',
       'orange', 'blackgram', 'lentil', 'banana', 'mango', 'maize',
       'apple', 'pomegranate', 'mango', 'cotton', 'mungbean',
       'pigeonpeas', 'chickpea', 'apple', 'coffee', 'pigeonpeas', 'jute',
       'jute', 'jute', 'papaya', 'lentil', 'grapes', 'jute', 'orange',
       'mungbean', 'mango', 'kidneybeans', 'grapes', 'mungbean', 'orange',
       'pigeonpeas', 'banana', 'jute', 'pigeonpeas', 'pomegranate',
       'coffee', 'muskmelon', 'blackgram', 'papaya', 'papaya',
       'pomegranate', 'kidneybeans', 'chickpea', 'mungbean', 'mungbean',
       'mango', 'pigeonpeas', 'muskmelon', 'mango', 'mothbeans',
       'pigeonpeas', 'muskmelon', 'rice', 'pomegranate', 'muskmelon',
       'pigeonpeas', 'apple', 'mungbean', 'rice', 'kidneybeans', 'apple',
       'rice', 'mango', 'papaya', 'mothbeans', 'cotton', 'pomegranate',
       'pigeonpeas', 'papaya', 'lentil', 'maize', 'chickpea', 'muskmelon',
       'cotton', 'kidneybeans', 'chickpea', 'mungbean', 'coffee',
       'coffee', 'orange', 'watermelon', 'orange', 'grapes', 'coffee',
       'pigeonpeas', 'mango', 'apple', 'mango', 'pomegranate', 'coffee',
       'pigeonpeas', 'coffee', 'grapes', 'cotton', 'pomegranate',
       'papaya', 'apple', 'blackgram', 'pigeonpeas', 'watermelon',
       'papaya', 'blackgram', 'grapes', 'lentil', 'jute', 'coffee',
       'papaya', 'chickpea', 'coffee', 'jute'], dtype=object)

In [64]:
result =pd.DataFrame({'id':range(0,550),'label' : yo})

In [66]:
result.to_csv("19011847_OH_SEUNG_HYUN4.csv",index= False)