In [75]:
import pandas as pd

X = pd.read_csv("train_X.csv")
Y = pd.read_csv("train_Y.csv")

In [76]:
X

    sleep_time_mean  sleep_time_std  ...  sleep_quality_75  sleep_quality_max
0          6.250000        0.689202  ...               4.0                4.0
1          6.418182        1.169693  ...               4.0                4.0
2          7.034483        1.127262  ...               4.0                4.0
3          6.453846        1.070642  ...               4.0                4.0
4          5.902439        1.817345  ...               4.0                4.0
5          6.179487        1.205727  ...               4.0                4.0
6          5.630435        0.741886  ...               3.0                4.0
7          6.111111        0.609750  ...               4.0                4.0
8          6.102564        1.539735  ...               3.0                4.0
9          5.983333        0.636306  ...               4.0                4.0
10         6.363636        0.452267  ...               4.0                4.0
11         5.227273        1.009050  ...               3.5                4.0
12         6.020833        0.541318  ...               3.0                4.0
13         6.058824        0.682739  ...               4.0                4.0
14         5.777778        1.301708  ...               4.0                4.0
15         6.347826        0.803894  ...               3.0                4.0
16         6.650000        0.933302  ...               4.0                4.0
17         6.393617        0.589179  ...               3.0                4.0
18         6.029412        1.236694  ...               4.0                4.0
19         6.245902        1.293003  ...               4.0                4.0
20         6.535714        1.070899  ...               4.0                4.0
21         6.054545        1.508227  ...               4.0                4.0
22         6.129310        0.881388  ...               4.0                4.0

[23 rows x 14 columns]

In [77]:
Y

    label
0       0
1       0
2       0
3       1
4       0
5       0
6       1
7       0
8       1
9       0
10      1
11      1
12      1
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0

In [78]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
sc = StandardScaler()

In [79]:
#X_train, X_test, Y_train,Y_test = train_test_split(X,Y,test_size = 0.3, random_state = 1, stratify = Y)

In [80]:
sc.fit(X)
X_train = sc.transform(X)
#X_test = sc.transform(X_test)

In [81]:
from sklearn.linear_model import LogisticRegression
Logit = LogisticRegression(penalty = 'l1',C = 100,random_state=0,solver ='saga')

l_1=Logit.fit(X, Y)
y_train_pred = Logit.predict(X)
#y_test_pred = Logit.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

In [82]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y,y_train_pred))  
#print(accuracy_score(Y_test,y_test_pred))

0.7391304347826086

In [83]:
submit_data = pd.read_csv("test_X.csv")

In [84]:
submit_data = sc.transform(submit_data)

guesses =Logit.predict(submit_data)

In [85]:
len(guesses)

23

In [86]:
result = pd.DataFrame({'id':range(1, 24),'label' : guesses})
result

    id  label
0    1      1
1    2      1
2    3      0
3    4      1
4    5      0
5    6      0
6    7      1
7    8      0
8    9      1
9   10      1
10  11      0
11  12      1
12  13      1
13  14      1
14  15      0
15  16      1
16  17      1
17  18      0
18  19      0
19  20      1
20  21      0
21  22      1
22  23      1

In [87]:
result.to_csv("Sleeping_try_3.csv",index= False)

In [88]:
sample = pd.read_csv("sample_submit.csv")

sample

    id  label
0    1      1
1    2      1
2    3      1
3    4      1
4    5      1
5    6      1
6    7      1
7    8      1
8    9      1
9   10      1
10  11      1
11  12      1
12  13      1
13  14      1
14  15      1
15  16      1
16  17      1
17  18      1
18  19      1
19  20      1
20  21      1
21  22      1
22  23      1