In [115]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import seaborn as sns
import math

from sklearn.preprocessing import LabelEncoder

In [116]:
df = pd.read_csv("train.csv")
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [117]:
testDf = df['Age']
testDf

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [128]:
numAge = testDf.to_numpy()
numAge



output = numAge[~np.isnan(numAge)]

In [131]:
print("original : {} , modified :{}".format(len(numAge), len(output)))

original : 891 , modified :714

In [93]:
moDf = df.drop(['Name','Ticket','PassengerId','Survived'],axis = 1) # index = []는 row 삭제
survivedDf = df['Survived']

Y = np.array(survivedDf)

moDf.head(5)

   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       3    male  22.0      1      0   7.2500   NaN        S
1       1  female  38.0      1      0  71.2833   C85        C
2       3  female  26.0      0      0   7.9250   NaN        S
3       1  female  35.0      1      0  53.1000  C123        S
4       3    male  35.0      0      0   8.0500   NaN        S

In [94]:
numDf = moDf.to_numpy()

le = LabelEncoder()
genderDf = le.fit_transform(df['Sex'])
cabinDf = le.fit_transform(df['Cabin'])
embarkedDf = le.fit_transform(df['Embarked'])

In [95]:
X = numDf

In [96]:
len(numDf[0,:]) # 8개

X[:, 1] = le.fit_transform(numDf[:,1]) # Sex
X[:, 6] = le.fit_transform(numDf[:,6]) # Cabin
X[:, 7] = le.fit_transform(numDf[:,7]) # Embarked

In [97]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler

sc = StandardScaler()
rs = RobustScaler()
mm = MinMaxScaler()

modifiedX = sc.fit_transform(X)

In [99]:
confirm = pd.DataFrame(modifiedX)

confirm.to_csv("dataFrame_Test.csv",index=False)

In [77]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(modifiedX, Y)

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values