In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv("data.csv")

In [2]:
df

      Day  Hour  Minute  DHI  DNI   WS     RH   T     TARGET
0     102     0       0    0    0  1.4  57.76   0   0.000000
1      99    15       0  222   18  1.3  26.82  13  21.957266
2      31     4       0    0    0  2.6  84.94  -6   0.000000
3      40    18      30    0    0  1.5  89.18   2   0.000000
4     191     1      30    0    0  2.4  84.35  12   0.000000
...   ...   ...     ...  ...  ...  ...    ...  ..        ...
8995  119    11       0  239   16  0.8  24.98  23  23.831336
8996  108     3      30    0    0  5.6  87.78  -1   0.000000
8997  112     7       0  104  525  2.8  47.82  11  26.368066
8998   17    22       0    0    0  3.3  72.11   0   0.000000
8999  151    11       0  444   54  0.6  31.53  26  46.441426

[9000 rows x 9 columns]

In [10]:
X = df.iloc[0 :,[0,1,2,3,4,5,6,7]]
Y = df.iloc[0 : , -1]

In [11]:
X

      Day  Hour  Minute  DHI  DNI   WS     RH   T
0     102     0       0    0    0  1.4  57.76   0
1      99    15       0  222   18  1.3  26.82  13
2      31     4       0    0    0  2.6  84.94  -6
3      40    18      30    0    0  1.5  89.18   2
4     191     1      30    0    0  2.4  84.35  12
...   ...   ...     ...  ...  ...  ...    ...  ..
8995  119    11       0  239   16  0.8  24.98  23
8996  108     3      30    0    0  5.6  87.78  -1
8997  112     7       0  104  525  2.8  47.82  11
8998   17    22       0    0    0  3.3  72.11   0
8999  151    11       0  444   54  0.6  31.53  26

[9000 rows x 8 columns]

In [12]:
Y

0        0.000000
1       21.957266
2        0.000000
3        0.000000
4        0.000000
          ...
8995    23.831336
8996     0.000000
8997    26.368066
8998     0.000000
8999    46.441426
Name: TARGET, Length: 9000, dtype: float64

In [13]:
from sklearn.preprocessing import StandardScaler


sc = StandardScaler()

sc.fit(X)

X = sc.transform(X)

In [15]:
from sklearn.tree import DecisionTreeRegressor

regr = DecisionTreeRegressor(random_state=0)
regr.fit(X,Y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [16]:
submit = pd.read_csv("X_test.csv")

In [17]:
submit = sc.transform(submit)

In [18]:
submit = regr.predict(submit)

In [19]:
len(submit)

1000

In [20]:
result = pd.DataFrame({'INDEX' :range(1000),'TARGET' : submit})

In [22]:
result.to_csv("íƒœì–‘ê´‘ë°œì „íšŒê·€.csv",index = False)