In [1]:
import pandas as pd 

df = pd.read_csv("data.csv")

In [2]:
df

     Pregnancies  Glucose  ...  Age  Diabetes
0              1       95  ...   22         0
1              5      105  ...   28         0
2              0      135  ...   24         1
3              4      131  ...   28         0
4              1      103  ...   33         0
..           ...      ...  ...  ...       ...
532            5      139  ...   26         0
533            1       96  ...   27         0
534           10      101  ...   38         1
535            0      141  ...   29         1
536            0      125  ...   21         0

[537 rows x 9 columns]

In [4]:
X = df.drop('Diabetes',axis = 1)
Y = df.iloc[0 : , -1]

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X)

X = sc.transform(X)

In [7]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

cqd = QuadraticDiscriminantAnalysis()

cqd.fit(X,Y)

Y_pred = cqd.predict(X)

In [8]:
from sklearn.metrics import accuracy_score

accuracy_score(Y,Y_pred)

0.7653631284916201

In [12]:
submit = pd.read_csv('X_test.csv')

In [13]:
submit = sc.transform(submit)

In [14]:
final_submit = cqd.predict(submit)

In [15]:
len(final_submit)

231

In [16]:
final_submit

array([0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0])

In [17]:
sample = pd.read_csv("submit.csv")

In [18]:
sample

      ID  Diabetes
0      0         0
1      1         0
2      2         0
3      3         0
4      4         0
..   ...       ...
226  226         0
227  227         0
228  228         0
229  229         0
230  230         0

[231 rows x 2 columns]

In [20]:
result = pd.DataFrame({'ID' : range(231), 'Diabetes' : final_submit})

In [21]:
result.to_csv("당뇨병.try1.csv",index = False)